<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th></th>
      <th>
        <div class="input-group input-group-sm">
          <input class="form-control" type="text" [(ngModel)]="title" name="title">
        </div>
      </th>
      <th>
        <div class="input-group input-group-sm">
          <input class="form-control" type="text" [(ngModel)]="description" name="description">
        </div>
      </th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of (todos$ | async) | filterPipe:{title: title, description: description}; let i = index">
      <th scope="row">
        <span [innerText]="todo.id"></span>
      </th>
      <td>
        <span [innerText]="todo.title"></span>
      </td>
      <td>
        <span [innerText]="todo.description"></span> / {{testModel()}}
      </td>
      <td>

        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" class="btn btn-outline-secondary" (click)="editTodo(todo.id)">
            <i class="far fa-edit"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="deleteTodo(todo.id)">
            <i class="fas fa-trash text-danger"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <i *ngIf="todo.active" class="far fa-check-square fa-lg text-info" (click)="updateTodo(todo)"></i>
            <i *ngIf="!todo.active" class="far fa-square fa-lg text-secondary" (click)="updateTodo(todo)"></i>
          </button>
        </div>


      </td>
    </tr>

  </tbody>
</table>
