<form (submit)="submitFile()" [formGroup]="uploadForm" novalidate>

  <div class="input-group mb-3">
    <div class="custom-file">
      <input #tmpFile (change)="onFileChange($event.target.files)" class="custom-file-input" formControlName="fileUpload" type="file">
      <label class="custom-file-label" for="file">{{tmpFile.value != '' ? tmpFile.value : 'Choose file'}}</label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" value="Upload">
    <fa-icon icon="upload"></fa-icon>
    Submit
  </button>

</form>
