@import '~bootstrap/scss/functions';
@import "../../../assets/variables.scss";
@import "~bootstrap/scss/variables";

:host ::ng-deep input {
  border: none;
  outline: none;
}
i {
  color: $input-focus-border-color;
}
:host(.focus) {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  // Avoid using mixin so we can pass custom focus shadow properly
  @if $enable-shadows {
    box-shadow: $input-box-shadow, $input-focus-box-shadow;
  } @else {
    box-shadow: $input-focus-box-shadow;
  }
}
