<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <h5>Add a Todo : </h5>
      <form (submit)="addTodo($event)">
        <div class="form-group">
          <label for="title">Todo title</label>
          <app-fa-input [icon]="'fire'" class="form-control" (value)="onNewValue($event)">
            <input appInputRef type="text" placeholder="Enter todo title" id="title" name="title" [(ngModel)]="todo.title" required aria-describedby="titleHelp">
          </app-fa-input>
          <small id="titleHelp" class="form-text text-muted">This is the sound of C.</small>
        </div>
        <div class="form-group">
          <label for="title">Todo description</label>
          <app-fa-input [icon]="'comment-dots'" class="form-control" (value)="onNewValue($event)">
            <input appInputRef type="text" placeholder="Enter todo description" id="description" name="description" [(ngModel)]="todo.description"
              required aria-describedby="descriptionHelp">
          </app-fa-input>
          <small id="descriptionHelp" class="form-text text-muted">This is the new style of Music.</small>
        </div>
        <button type="submit" class="btn btn-primary">
          <fa-icon icon="check"></fa-icon> Submit</button>
      </form>
      <hr>
      <app-counter></app-counter>
      <app-countervalid></app-countervalid>
    </div>

    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to {{ title }}</h5>
          <p class="card-text">
            Todo List with SpringBoot backend and Rest API, NgRx Data store solution for CRUD operations
          </p>
        </div>
        <app-todos></app-todos>

      </div>

      <div class="alert alert-info mt-2">
        <button class="btn btn-outline-primary" (click)="onClick()">Trigger change detection</button>
      </div>

      <app-hello [user]="user"></app-hello>
    </div>
  </div>

</div>
